body{
    background-color: azure;
    background-size:cover;
}
h1{
    text-align:center;
    color:red; 
}
p{
    text-align:justify; 
    color:blue;
    font-weight: 700;
    te
}
p2{
    text-align: justify;
    color:black;
}

